body {
    font-family: monospace;
    /*background: linear-gradient(135deg, #6A00F4, #FF00C1);*/
    color: rgb(0, 0, 0);
    height: 100vh;
    overflow-x: hidden;
}

.sidebar {
    height: 100vh;
    background-color: #222;
    padding-top: 2rem;
    position: fixed;
}

.sidebar .nav-link {
    color: #8e8e8e;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    color: #39FF14;
}

.profile-pic .initials {
    width: 100px;
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 50%;
    margin: 0 auto 1rem;
    color: #39FF14;
}

.main-content {
    margin-left: 250px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

h1, h4 {
    color: #39FF14;
}

input, select, textarea {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #39FF14;
    padding: 0.75rem;
}

input::placeholder, textarea::placeholder {
    color: #8e8e8e;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(57, 255, 20, 0.6);
}

button {
    background-color: #39FF14;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    color: black;
}

button:hover {
    background-color: #00FF00;
}

label {
    color: #8e8e8e;
}